<h1>List all feeds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>URL</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= feed.title%></td>
        <td><%= feed.url%></td>
        <td>Placeholder</td>
      </tr>
    <% end %>
  </tbody>
</table>